<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>



<header id="header" class="navbar navbar-default navbar-fixed-top">
<div class="container">
<div class="row">
    <div class="col-xs-6 col-md-4">
        <a href="" id="logo" class="pull-left"><img src="./img/logo.png" class="img-responsive"></a>
        <div id="search" class="hidden-xs">
            <input type="search" name="s" aria-label="Oyun ara" placeholder="Oyunları ara"/>
            <button class="glyphicon glyphicon-search"></button>
        </div>
    </div>
    <div class="col-xs-6 col-md-8">
    <button id="buttonToggleMenu" class="btn btn-default glyphicon glyphicon-menu-hamburger pull-right"
        type="button" data-toggle="collapse" data-target="#collapseMobileMenu" aria-expanded="false" aria-controls="collapseMobileMenu"></button>
    <ul id="headerMenu" class="nav nav-pills hidden-sm hidden-xs">
        <li><a href=""><em class="glyphicon glyphicon-fire"></em> Yeni Oyunlar</a></li>
        <li><a href=""><em class="glyphicon glyphicon-signal"></em> En İyileri</a></li>
        <li><a href=""><em class="glyphicon glyphicon-star"></em> Popüler</a></li>
        <li><a href=""><em class="glyphicon glyphicon-cloud"></em> Çok Oyunculu</a></li>
        <li><a href=""><em class="glyphicon glyphicon-road"></em> Yarış Oyunları</a></li>
    </ul>
    </div>
</div>
</div>
</header>



<!-- # ANA CONTAINER -->
<div class="container blog">
<div id="wrapper">
<div class="row">

<!-- SOL KISIM -->
<section class="col-md-8">

<div class="row blog-item">
    <div class="col-sm-4 p5">
        <a href=""><img src="https://picsum.photos/id/55/500/360" class="img-responsive"></a>
    </div>
    <div class="col-sm-8 p5">
        <h3><a href="">Mart ayının en çok oynanan yarış oyunları listesi</a></h3>
        <p>Sed et pulvinar dolor, et venenatis justo. Nulla eget commodo lectus. Mauris bibendum scelerisque vulputate. In ultrices ultricies lorem non feugiat. Sed blandit id est ut sagittis. Aliquam bibendum massa id libero hendrerit, venenatis luctus nulla malesuada. Quisque iaculis non lacus vitae aliquet. Morbi fringilla accumsan nibh sed hendrerit. Donec placerat aliquam tellus, et placerat orci mattis malesuada. Aenean venenatis mattis diam, vel aliquam justo fermentum eu.</p>
    </div>
</div>

<div class="row blog-item">
    <div class="col-sm-4 p5">
        <a href=""><img src="https://picsum.photos/id/55/500/360" class="img-responsive"></a>
    </div>
    <div class="col-sm-8 p5">
        <h3><a href="">Mart ayının en çok oynanan yarış oyunları listesi</a></h3>
        <p>Sed et pulvinar dolor, et venenatis justo. Nulla eget commodo lectus. Mauris bibendum scelerisque vulputate. In ultrices ultricies lorem non feugiat. Sed blandit id est ut sagittis. Aliquam bibendum massa id libero hendrerit, venenatis luctus nulla malesuada. Quisque iaculis non lacus vitae aliquet. Morbi fringilla accumsan nibh sed hendrerit. Donec placerat aliquam tellus, et placerat orci mattis malesuada. Aenean venenatis mattis diam, vel aliquam justo fermentum eu.</p>
    </div>
</div>

</section>
<!-- SOL KISIM SON -->



<!-- SAĞ KISIM -->
<aside class="col-md-4">

    <div class="wb p10">
        <div class="bstitle"><em class="glyphicon glyphicon-list"></em> Kategoriler</div>
        <ul class="bslist">
            <li><a href="">Türkçe Oyunlar</a></li>
            <li><a href="">Oyun Hileleri</a></li>
            <li><a href="">Oyun Yamaları</a></li>
            <li><a href="">Oyun Listeleri</a></li>
            <li><a href="">Android Oyunlar</a></li>
            <li><a href="">Yararlı Programlar</a></li>
            <li><a href="">Sistem Gereksinimleri</a></li>
        </ul>
    </div>

</aside>
<!-- SAĞ KISIM SON -->




</div>
</div>
</div>
<!-- # ANA CONTAINER -->






<footer id="footer" class="wb">
<div class="container">
    <nav class="text-center">
        <a href="">Anasayfa</a>
        <a href="">Son eklenenler</a>
        <a href="">Popüler oyunlar</a>
        <a href="">Çok oyunculu</a>
        <a href="">2 kişilik</a>
        <a href="">İletişim</a>
    </nav>
</div>
</footer>






<script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/script.js"></script>
<div class="jsFocus"></div>
</body>
</html>
