/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
.row{margin-left: 0 !important; margin-right: 0 !important;}
hr{margin-top: 10px; margin-bottom: 10px;}
.p0{ padding: 0; }          .m0{   margin: 0; }
.p1{ padding: 1px; }          .m1{   margin: 1px; }
.p2{ padding: 2px; }          .m2{   margin: 2px; }
.p3{ padding: 3px; }          .m3{   margin: 3px; }
.p4{ padding: 4px; }          .m4{   margin: 4px; }
.p5{ padding: 5px; }        .m5{   margin: 5px; }
.p7{ padding: 7px; }        .m7{   margin: 7px; }
.p10{ padding: 10px; }      .m10{  margin: 10px; }
.p15{ padding: 15px; }      .m15{  margin: 15px; }
.p20{ padding: 20px; }      .m20{  margin: 20px; }
.p25{ padding: 25px; }      .m25{  margin: 25px; }
.p30{ padding: 30px; }      .m30{  margin: 30px; }
.p35{ padding: 35px; }      .m35{  margin: 35px; }
.p40{ padding: 40px; }      .m40{  margin: 40px; }
.p50{ padding: 50px; }      .m50{  margin: 50px; }
.p60{ padding: 60px; }      .m60{  margin: 60px; }
.p70{ padding: 70px; }      .m70{  margin: 70px; }
.p80{ padding: 80px; }      .m80{  margin: 80px; }
.p90{ padding: 90px; }      .m90{  margin: 90px; }
.p100{ padding: 100px; }    .m100{ margin: 100px; }
.p120{ padding: 120px; }    .m120{ margin: 120px; }
.p150{ padding: 150px; }    .m150{ margin: 150px; }
.p200{ padding: 200px; }    .m200{ margin: 200px; }

.pt0  { padding-top: 0;     }    .pb0  { padding-bottom: 0;     }    .pl0  { padding-left: 0;     }    .pr0  { padding-right: 0;     }
.pt5  { padding-top: 5px;   }    .pb5  { padding-bottom: 5px;   }    .pl5  { padding-left: 5px;   }    .pr5  { padding-right: 5px;   }
.pt7  { padding-top: 7px;   }    .pb7  { padding-bottom: 7px;   }    .pl7  { padding-left: 7px;   }    .pr7  { padding-right: 7px;   }
.pt10 { padding-top: 10px;  }    .pb10 { padding-bottom: 10px;  }    .pl10 { padding-left: 10px;  }    .pr10 { padding-right: 10px;  }
.pt15 { padding-top: 15px;  }    .pb15 { padding-bottom: 15px;  }    .pl15 { padding-left: 15px;  }    .pr15 { padding-right: 15px;  }
.pt20 { padding-top: 20px;  }    .pb20 { padding-bottom: 20px;  }    .pl20 { padding-left: 20px;  }    .pr20 { padding-right: 20px;  }
.pt25 { padding-top: 25px;  }    .pb25 { padding-bottom: 25px;  }    .pl25 { padding-left: 25px;  }    .pr25 { padding-right: 25px;  }
.pt30 { padding-top: 30px;  }    .pb30 { padding-bottom: 30px;  }    .pl30 { padding-left: 30px;  }    .pr30 { padding-right: 30px;  }
.pt35 { padding-top: 35px;  }    .pb35 { padding-bottom: 35px;  }    .pl35 { padding-left: 35px;  }    .pr35 { padding-right: 35px;  }
.pt40 { padding-top: 40px;  }    .pb40 { padding-bottom: 40px;  }    .pl40 { padding-left: 40px;  }    .pr40 { padding-right: 40px;  }
.pt50 { padding-top: 50px;  }    .pb50 { padding-bottom: 50px;  }    .pl50 { padding-left: 50px;  }    .pr50 { padding-right: 50px;  }
.pt60 { padding-top: 60px;  }    .pb60 { padding-bottom: 60px;  }    .pl60 { padding-left: 60px;  }    .pr60 { padding-right: 60px;  }
.pt70 { padding-top: 70px;  }    .pb70 { padding-bottom: 70px;  }    .pl70 { padding-left: 70px;  }    .pr70 { padding-right: 70px;  }
.pt80 { padding-top: 80px;  }    .pb80 { padding-bottom: 80px;  }    .pl80 { padding-left: 80px;  }    .pr80 { padding-right: 80px;  }
.pt90 { padding-top: 90px;  }    .pb90 { padding-bottom: 90px;  }    .pl90 { padding-left: 90px;  }    .pr90 { padding-right: 90px;  }
.pt100{ padding-top: 100px; }    .pb100{ padding-bottom: 100px; }    .pl100{ padding-left: 100px; }    .pr100{ padding-right: 100px; }
.pt120{ padding-top: 120px; }    .pb120{ padding-bottom: 120px; }    .pl120{ padding-left: 120px; }    .pr120{ padding-right: 120px; }
.pt150{ padding-top: 150px; }    .pb150{ padding-bottom: 150px; }    .pl150{ padding-left: 150px; }    .pr150{ padding-right: 150px; }
.pt200{ padding-top: 200px; }    .pb200{ padding-bottom: 200px; }    .pl200{ padding-left: 200px; }    .pr200{ padding-right: 200px; }



.mt0  { margin-top: 0;     }    .mb0  { margin-bottom: 0;     }    .ml0  { margin-left: 0;     }    .mr0  { margin-right: 0;     }
.mt5  { margin-top: 5px;   }    .mb5  { margin-bottom: 5px;   }    .ml5  { margin-left: 5px;   }    .mr5  { margin-right: 5px;   }
.mt7  { margin-top: 7px;   }    .mb7  { margin-bottom: 7px;   }    .ml7  { margin-left: 7px;   }    .mr7  { margin-right: 7px;   }
.mt10 { margin-top: 10px;  }    .mb10 { margin-bottom: 10px;  }    .ml10 { margin-left: 10px;  }    .mr10 { margin-right: 10px;  }
.mt15 { margin-top: 15px;  }    .mb15 { margin-bottom: 15px;  }    .ml15 { margin-left: 15px;  }    .mr15 { margin-right: 15px;  }
.mt20 { margin-top: 20px;  }    .mb20 { margin-bottom: 20px;  }    .ml20 { margin-left: 20px;  }    .mr20 { margin-right: 20px;  }
.mt25 { margin-top: 25px;  }    .mb25 { margin-bottom: 25px;  }    .ml25 { margin-left: 25px;  }    .mr25 { margin-right: 25px;  }
.mt30 { margin-top: 30px;  }    .mb30 { margin-bottom: 30px;  }    .ml30 { margin-left: 30px;  }    .mr30 { margin-right: 30px;  }
.mt35 { margin-top: 35px;  }    .mb35 { margin-bottom: 35px;  }    .ml35 { margin-left: 35px;  }    .mr35 { margin-right: 35px;  }
.mt40 { margin-top: 40px;  }    .mb40 { margin-bottom: 40px;  }    .ml40 { margin-left: 40px;  }    .mr40 { margin-right: 40px;  }
.mt50 { margin-top: 50px;  }    .mb50 { margin-bottom: 50px;  }    .ml50 { margin-left: 50px;  }    .mr50 { margin-right: 50px;  }
.mt60 { margin-top: 60px;  }    .mb60 { margin-bottom: 60px;  }    .ml60 { margin-left: 60px;  }    .mr60 { margin-right: 60px;  }
.mt70 { margin-top: 70px;  }    .mb70 { margin-bottom: 70px;  }    .ml70 { margin-left: 70px;  }    .mr70 { margin-right: 70px;  }
.mt80 { margin-top: 80px;  }    .mb80 { margin-bottom: 80px;  }    .ml80 { margin-left: 80px;  }    .mr80 { margin-right: 80px;  }
.mt90 { margin-top: 90px;  }    .mb90 { margin-bottom: 90px;  }    .ml90 { margin-left: 90px;  }    .mr90 { margin-right: 90px;  }
.mt100{ margin-top: 100px; }    .mb100{ margin-bottom: 100px; }    .ml100{ margin-left: 100px; }    .mr100{ margin-right: 100px; }
.mt120{ margin-top: 120px; }    .mb120{ margin-bottom: 120px; }    .ml120{ margin-left: 120px; }    .mr120{ margin-right: 120px; }
.mt150{ margin-top: 150px; }    .mb150{ margin-bottom: 150px; }    .ml150{ margin-left: 150px; }    .mr150{ margin-right: 150px; }
.mt200{ margin-top: 200px; }    .mb200{ margin-bottom: 200px; }    .ml200{ margin-left: 200px; }    .mr200{ margin-right: 200px; }


html, body{
    background-color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
}
body *{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
*:focus{ border:none; outline: none; }
header#header{
    background: #FFFFFF;
    border-bottom: 1px sollid #E0E0E0;
    padding: 10px 0;
}

a#logo{margin-right: 20px;}
#search{
    background: #F1F1F1;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
#search input, #search button{    border:none;background: transparent;    padding: 10px;    }
#search input{ width: 100%; padding-right: 25px;}
#search button{ position: absolute; right: 0; bottom: 0; top: 0; width: 40px;}


#headerMenu{ margin: 4px 0px 0px;  }
#headerMenu a{ padding: 8px; color: #616161; font-weight: 500;}

#buttonToggleMenu{display: inline-block; width: 42px; height: 36px; margin: 4px 7px 0px; text-align: center; }



.wb{
    background: white;
    border: 1px solid #E0E0E0;
}


#tags{padding: 5px;}
#tags div{ padding: 10px; border-radius: 5px; margin: 0 0 20px; }
#tags a{ margin: 5px; padding: 5px 12px; font-weight: 500; border: 1px solid #e0e0e0; border-radius: 20px; color: #333;
        font-size: 15px; display: inline-block; text-decoration: none; background: #fcfcfc;}
#tags a:hover{ border-color: #555;}

#pagination li a{margin: 0 2px;}

#footer nav {padding: 25px;}
#footer nav a{margin: 5px; color: #666; font-weight: 500; text-decoration: none;}
#footer nav a:hover{color:#111;}


#title{padding:10px 5px;}
#title h1,  #title h2,  #title h3,  #title h4,  #title h5,  #title h6{ display: inline-block; margin: 0; font-size: 17px; color: #212121; line-height: 17px; font-weight: 700;}
#title span{display: inline-block; margin-left: 10px; font-size:14px; line-height: 17px; color: #555; font-weight: 500;}
.glitem{padding: 5px;}
.glitem a{display: block; background: white;  color: #333; text-decoration: none; overflow: hidden;}
.glitem a:hover{ box-shadow: 0px 0px 7px rgba(0,0,0,0.5); }
.glitem a .info{padding:10px; border:1px solid #e0e0e0; border-top: none;}
.glitem a h3,
.glitem a span{margin: 0; height:22px;  display: block; line-height: 22px; overflow: hidden; font-size: 13.5px;}
.glitem a h3{ font-weight: 500; color: #111;}
.glitem a span{line-height: 17px; height:17px; font-size: 12px; font-weight: 300;}



/*
    #### OYUN EKRANI AYARLAMALARI
*/
#game-obj{background: #333; text-align: center; position: relative;}
#game-obj.scaleto{height: 0px; padding: 0px; overflow: hidden;}
    #game-obj.scaleto.scale-4x3{padding-bottom: 75%;}
    #game-obj.scaleto.scale-5x3{padding-bottom: 60%;}
    #game-obj.scaleto.scale-2x1{padding-bottom: 50%;}
    #game-obj.scaleto.scale-16x9{padding-bottom: 56.25%;}
    #game-obj.scaleto.scale-1x2{padding-bottom: 200%;}
    #game-obj.scaleto.scale-3x4{padding-bottom: 133%;}
    #game-obj.scaleto.scale-3x5{padding-bottom: 166%;}
    #game-obj.scaleto.scale-1x1{padding-bottom: 100%;}
#game-obj #objGame{position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1029; width: 100%; height: 100%;}
#game-obj.focus #objGame{ z-index: 9999;}
#game-obj.no-overflow{overflow: visible; height: auto; padding-bottom: auto !important; }
#game-obj.no-overflow #objGame{position: relative; display: inline-block; left: auto; right: auto; margin: 0 auto;}



#game-info{padding: 15px;}
#game-info h1{display: inline-block; float:left;}
#game-info-buttons{display: inline-block; float: right;}
#game-likes .progress{margin: 10px 0; height: 12px;}
#game-likes .progress-bar{line-height: 13px; font-size: 9px;}
#scaleToObjGame{display: none;}
.game-box{ padding: 15px; margin-bottom: 15px; background-color: white; border: 1px solid #e0e0e0;}
.game-box .title{font-size: 18px; line-height: 18px; margin: 0;}

.jsFocus{display: none; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,0.85); z-index: 9997;}
span.jsFocusClose{display: block; width: 30px; height: 30px; line-height: 30px; font-size: 25px;
                cursor: pointer; text-align: center;  position: fixed; top: 15px; right: 15px; color: white;  z-index: 9999;}


/*
    BLOG LİSTESİ İÇERİKLERİ
*/
.blog-item{background: white; border: 1px solid #f0f0f0; margin-bottom: 20px;}
.blog-item h1, .blog-item h2, .blog-item h3, .blog-item h4{margin: 0px 0px 5px; padding: 0; font-size: 21px; line-height: 21px;}
.blog-item a{color: #555; text-decoration: none;}
.blog-item a:hover{color: #111}

.bstitle{padding: 0px 10px 10px; border-bottom: 1px solid #e0e0e0; font-weight: 500; font-size: 17px;}
.bslist{margin: 0; padding: 0; list-style-type: none; color: #FA6900;}
.bslist li{margin: 0;padding: 0;}
.bslist li:not(:last-child){border-bottom: 1px solid #f0f0f0;}
.bslist a{display: block; padding: 7px 5px; font-size: 15px; font-weight: 400; color: #555; text-decoration: none;}
.bslist a:hover{ background: #FA6900; color: #fff; }

#mobileMenu{width: 100%; display: block; overflow: hidden; padding: 15px; border-top: 1px solid #e0e0e0; margin-top: 15px;}
#mobileMenu div{width: 20%; margin: 0; padding: 10px; float:left;}
#mobileMenu a{color: #616161; font-weight: 500;}
#mobileMenu a:hover{ color: #111; }
@media screen and (max-width:992px){
    #mobileMenu div{width: 25%; margin: 0; padding: 5px 0px 5px 15px; float:left;}
}

@media screen and (max-width:768px){
    #mobileMenu div{width: 33.3%; margin: 0; padding: 5px 0px 5px 15px; float:left;}
}

@media screen and (max-width:512px){
    #mobileMenu div{width: 50%; margin: 0; padding: 5px 0px 5px 15px; float:left;}
}

@media screen and (max-width:350px){
    #mobileMenu div{width: 100%; margin: 0; padding: 5px 0px 5px 15px; float:left;}
}
